
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}    
.header {
    margin: auto;
    width: 50%;
    background-color: white;
}
.content {
    display: flex;
    background-color: lightgray;  
    flex-flow: wrap;
    justify-content: center;
    
}
.content > div {
	width: 50%;
    background-color: #f1f1f1;
    margin: 20px;    
    font-size: 21px;
}

.itemHeader {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.itemHeader > h4 {
    width: 80%;
    margin: 0px;
}
.itemHeader > h6 {
    text-align: right;
    width: 20%;
    margin: 0px;
    color: grey;
}
.itemImage > img{
    width: 100%;
}
.itemText > p {
    margin: 15px;
}